@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* Shared styles */

body{
    margin: 0;
}

.gray_images{
    filter: grayscale(100%);
}

.display_flex{
    display: flex;
}

/* dark 02 */
.text_gray{
    color: #424242;
}
/* dark 03 */
.text_lightgray{
    color: #727272;
}

.text_primary{
    color: #FF900E;
}


.bg_light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

.section_title{
    font-size: 2.8rem;
    font-weight: 700;
}



/* header styles */

/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav_item{
    list-style: none;
    margin-right: 30px;
}

.nav_link{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related styles */
.banner_content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner_title{
    font-weight: 700;
    font-size: 4rem;
}

.banner_image{
    width: 100%;
}


/* team and feature related styles */
.teams{
    align-items: center;
    
}

.team_images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features{
    margin-left: 130px;
    max-width: 530px;
}

#quick_list{
    font-weight: 500;
}

.feature_descrioption{
    margin-top: 24px;
    margin-bottom: 34px;
}

/*  */
/* feature section related style */
/*  */

.features_section{
    gap: 140px ;
}

#feature_section_title{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}

.feature_card .feature_title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}

.feature_card{
    padding: 30px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

#experience_badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}

#experience_year{
    font-size: 4rem;
    font-weight: 700;
}

.feature_image img{
    width: 100%;
}




/* some facts related styles */

.facts_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
 

}

.fact_card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.fact_number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact_name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

.some_facts p{
    max-width: 542px;
    margin-bottom: 100px;
}



/* sponsor related styles */
.sponsors_info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor_companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}


/* footer section */
footer{
    max-width: 1440px;
    background-color: #FFF4E7;
    margin: 130px auto 216px;
    border-radius: 8px;
}

footer p{
    font-size: 1.25rem;
    padding-top: 39px;
    padding-bottom: 38px;
    text-align: center;
    align-items: center;
}



/* responsive media query */
@media screen  and (max-width: 576px){
    .navbar, 
    .nav_link, 
    .teams,
    .features_section{
        flex-direction: column;
    }

    .team_images,
    .facts_container,
    .sponsor_companies{
        grid-template-columns: repeat(1, 1fr);
    }

    .facts_container{
        justify-items: center;
        gap: 24px;
    }
    .features{
        margin-left: 20px;
    }

    #experience_badge{
        margin-top: 20px;
        margin-bottom: 20px;
    }


    .sponsor_companies{
        justify-items: center;
        gap: 50px;
    }

    #experience_badge{
        margin-top: 20px;
        margin-left: 20px;
    }



}



/* medium size devise  */
@media screen  and (min-width: 576px) and (max-width:992px){
    .teams, .features_section{
        flex-direction: column;
    }
    .features{
        margin: 50px auto;
    }

    .facts_container,
    .sponsor_companies{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-items: center;
    }

     #experience_badge{
        margin-top: 20px;
        margin-left: 20px;
        
    }
}